rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isStaff() {
      return request.auth != null && firestore.get(/databases/(default)/documents/users/$(request.auth.uid)).data.role in ["staff", "master"];
    }

    match /sharedFiles/{senderId}/{fileId}/{fileName} {
      allow read: if request.auth != null && (
        isStaff() ||
        firestore.get(/databases/(default)/documents/fileShares/$(fileId)).data.senderId == request.auth.uid ||
        firestore.get(/databases/(default)/documents/fileShares/$(fileId)).data.recipientIds.hasAny([request.auth.uid])
      );
      allow write: if request.auth != null && request.auth.uid == senderId && request.resource.size <= 10 * 1024 * 1024;
    }

  }
}
